body {
        font-family: 'Roboto', sans-serif;
        background: white;
}

img {
        width: fit-content;
}

.header {
        background: white;
}

.footer {
        background: black;
}

.navigation {
        background: white;
}

.mail-header {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
}

.phone-header {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;
}

.webstudio {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #2196F3;
}

.studio {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}

.portfolio {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
}

.contacts {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}

.team-section {
        font-style: normal;
        list-style: none;
        text-decoration: none;
}

.teams {
        text-decoration: none;
        list-style: none;
}

.button1 {
        background: #2196F3;
        cursor: pointer
}

.button2 {
        background: #F5F4FA;
        border-radius: 4px;
        cursor: pointer
}

.button3 {
        background: #F5F4FA;
        border-radius: 4px;
        cursor: pointer
}

.button4 {
        background: #F5F4FA;
        border-radius: 4px;
        cursor: pointer
}

.button5 {
        background: #F5F4FA;
        border-radius: 4px;
        cursor: pointer
}

.technocrack {}

.orleanvsstar {}

.seafood {}

.prime {}

.boxes {}

.inspiration {}

.limited_edition {}

.lab {}

.business {}

.webstudio1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
}

.location {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: black;
}