.header {
        position: absolute;
        width: 1600px;
        left: 0px;
        top: 0px;
        background: white;
}
.body {
    background: white;
}
h1,
h2,
h3,
p,
li {
    font-family: 'Roboto', sans-serif;
}
.footer {
    position: absolute;
    width: 1600px;
    left: 0px;
    top: 1628px;
    background: black;
}
.navigation {
        position: absolute;
        width: 1600px;
        left: 0px;
        top: 0px;
        background: white;
}
.mail-header {
    position: absolute;
        width: 135px;
        left: 1078px;
        top: 32px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
}
.phone-header {
    position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 32px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575; 
    }
.webstudio {
        position: absolute;
        width: 145px;
        left: 215px;
        top: 24px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;        /* identical to box height */
        letter-spacing: 0.03em;
        color: #2196F3;
}
.studio {
    position: absolute;
        width: 45px;
        left: 453px;
        top: 32px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}
.portfolio {
    position: absolute;
        width: 72px;
        left: 548px;
        top: 32px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
}
.contacts {
    position: absolute;
        width: 64px;
        left: 670px;
        top: 32px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}
.team-section {
    font-style: normal;
    list-style: none;
    text-decoration: none;
}
.teams {
    text-decoration: none;
    list-style: none;
}
.button1 {
        position: absolute;
        width: 73px;
        left: 512px;
        top: 174px;
        background: #2196F3;
}
.button2 {
        position: absolute;
        width: 125px;
        left: 593px;
        top: 174px;
        background: #F5F4FA;
        border-radius: 4px;
}
.button3 {
        position: absolute;
        width: 112px;
        left: 726px;
        top: 174px;
        background: #F5F4FA;
        border-radius: 4px;
}
.button4 {
        position: absolute;
        width: 103px;
        left: 846px;
        top: 174px;
        background: #F5F4FA;
        border-radius: 4px;
}
.button5 {
        position: absolute;
        width: 130px;
        left: 957px;
        top: 174px;
        background: #F5F4FA;
        border-radius: 4px;
}
.technocrack {
    position: absolute;
        width: 370px;
        left: 215px;
        top: 262px;
        background:;
}
.orleanvsstar {
    position: absolute;
        width: 370px;
        left: 615px;
        top: 262px;
        background:;
}
.seafood {
    position: absolute;
        width: 370px;
        left: 1015px;
        top: 262px;
        background:;
}
.prime {
    position: absolute;
        width: 370px;
        left: 215px;
        top: 696px;
        background:;
}
.boxes {
    position: absolute;
        width: 370px;
        left: 615px;
        top: 696px;
        background:;
}
.inspiration {
position: absolute;
    width: 370px;
    left: 1015px;
    top: 696px;
    background:;
}
.limited_edition {
    position: absolute;
        width: 370px;
        left: 215px;
        top: 1130px;
        background:;
}
.lab {
    position: absolute;
        width: 370px;
        left: 615px;
        top: 1130px;
        background:;
}
.business {
    position: absolute;
        width: 370px;
        left: 1015px;
        top: 1130px;
        background:;
}
.webstudio1 {
    position: absolute;
        width: 145px;
        left: 215px;
        top: 1688px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
}
.location {
    position: absolute;
        width: 231px;
        left: 215px;
        top: 1739px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: black;
}